body {
    font-family: Arial, sans-serif;
    background-color: #fb5607;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contact-form {
    background: #ffb703;
    padding: 20px; /* İçerik ile kenar arasındaki boşluk */
    margin: 20px; /* Form ile ekran kenarı arasındaki boşluk */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    box-sizing: border-box; /* Padding ve sınırlar genişliğe dahil edilir */
}

.contact-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.contact-form label {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
    display: block;
}

.contact-form input, .contact-form textarea {
    width: calc(100% - 20px); /* Sağ ve sol tarafta simetrik boşluk */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
}

.contact-form textarea {
    resize: none;
    height: 100px;
}

.contact-form button {
    background-color: #34a0a4;
    color: #000;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

.contact-form button:hover {
    background-color: #0056b3;
}
